*.o
*.a
bin/
cc1/cc1-*
cc1/tests/test.log
cc2/cc2-*
cc2/error.h
as/as-*
driver/posix/scc
makefile
instbl.c
config.mk
inc/ldflags.h
inc/sysincludes.h
inc/syslibs.h
driver/posix/config.h
driver/posix/scpp
rootdir/
ar/ar-*
